/* Custom site styles */

article h1 {
  text-align: center;
}

.post-metadata-header {
  opacity: 0.5;
}

.ca-footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

#ca-canvas {
  max-width: 100%;
  height: auto;
  background: transparent;
}
